@import "tailwindcss";

.leftSide::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  filter: url(#noiseFilter);
  opacity: 0.13;
}
body {
  background-color: #1D1D1F;
}
